<div class="input-group">
    <input type="text" class="form-control" placeholder="Enter product name to search" @bind-value="SearchProduct" />
    <button class="btn-primary input-group-text" @onclick="onSearch">Search</button>
</div>

@code {

    private string SearchProduct = String.Empty;

    [Parameter]
    public EventCallback<string> ProductNameToSearch{ get; set; }

    public void onSearch(){
        ProductNameToSearch.InvokeAsync(SearchProduct);

    }

}
